module "{{ snet_module_name }}"  {
  source = "git::https://github.com/Azure/azure-data-labs-modules.git//terraform/subnet?ref=v1.5.0&depth=1"

  name                                      = "{{ subnet_name }}"
  resource_group_name                       = module.{{ resource_group_name }}.name
  vnet_name                                 = module.{{ vnet_module_name }}.name
  address_prefixes                          = ["10.0.1.0/24"]
  private_endpoint_network_policies_enabled = true
}